{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "node": 8
        },
        "forceAllTransforms": true
      }
    ],
    "flow",
    "react",
    "stage-0"
  ]
}
