.Onboarding {
}

.Onboarding label {
  display: block;
  padding: 0.5em 1em;
}
.Onboarding input[type="radio"] {
  margin-right: 1em;
}

.Onboarding .loading {
  padding: 20px;
  opacity: 0.5;
  font-size: 1.4em;
}

.Onboarding .error {
  padding: 20px;
  font-size: 1.2em;
  color: #f66;
}

.Onboarding footer {
  padding: 20px;
}
.Onboarding footer button {
  font-size: 1.4em;
}
