name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - uses: actions/setup-node@main
        with:
          node-version: 12.x
      - uses: actions/cache@v2
        id: cache
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install
  lint:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: install linux dependencies
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - uses: actions/setup-node@main
        with:
          node-version: 12.x
      - uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: lint
        run: yarn lint
  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: install linux dependencies
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - uses: actions/setup-node@main
        with:
          node-version: 12.x
      - uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: build
        run: yarn build
      - name: test
        run: yarn test
      - name: test no git diff
        run: yarn test-no-git-diff
      # - name: codecov
      #   run: npx codecov
  docs:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: install linux dependencies
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - uses: actions/setup-node@main
        with:
          node-version: 12.x
      - uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: docs
        run: yarn doc
