name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: install linux dependencies
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - uses: actions/setup-node@main
        with:
          node-version: 12.x
      - name: install dependencies
        run: |
          yarn
          cd packages/react-native-hid
          yarn
          cd ../react-native-hw-transport-ble
          yarn
      # - name: test
      #   run: yarn test
      - name: lint
        run: yarn lint
      - name: test  no git diff
        run: yarn test-no-git-diff
      # - name: codecov
      #   run: npx codecov
